<body class="cuerpo">
    <div class="body1">
        <div class="gif1">
            <img id="gif2" src="https://cdn.shopify.com/s/files/1/2358/2817/files/nike-air-force-1-mid-sp-off-white-graffiti3.webp?v=1709115606">
        </div>
        <div class="popu">
            <div class="titulo">
                <h1>Marcas Populares</h1>
                <a href="/vistamarcas"><i class="fa-solid fa-angle-right"></i></a>
            </div>
            <table>
                <thead class="marcapopu">
                    <% if (marcaprincii) { %>
                        <% for (var i = 0; i < 4; i++){ %>
                            <tr> 
                                <td class="fotos">
                                    <a class="foto1" href="/vermasmarcas/<%= marcaprincii[i].marca %>"><img src=<%= marcaprincii[i].foto %> width="210px"></a>
                                    <a class="foto2" href="/vermasmarcas/<%= marcaprincii[i].marca %>"><img src=<%= marcaprincii[i].foto4 %> width="210px"><h1><%= marcaprincii[i].marca %></h1></a>
                                </td>    
                            </tr>
                        <% } %>
                    <% } %>
                </thead>
            </table>
        </div>

        <div class="modelos">
            <div class="titulo">
                <h1>Modelos más populares</h1>
                <a href="/vermaszapas"><i class="fa-solid fa-angle-right"></i></a>
            </div>
            
            <table>
                <thead class="modelopopu">
                    <% if (zapass) { %>
                        <% for (var i = 0; i < 5; i++){ %>
                            <tr class="producto1"> 
                                <td class="fotos">
                                    <a class="foto1" href="/vistazapas/<%= zapass[i].id %>"><img src=<%= zapass[i].foto %> width="210px"></a>
                                    <a class="foto2" href="/vistazapas/<%= zapass[i].id %>"><img src=<%= zapass[i].foto2 %> width="210px"></a>
                                </td> 
                                <td class="marca"><a href="/vistazapas/<%= zapass[i].id %>"><%= zapass[i].marca %></a></td>
                                <td class="modelo"><a href="/vistazapas/<%= zapass[i].id %>"><%= zapass[i].modelo %></a></td>
                                <td class="precio"><a href="/vistazapas/<%= zapass[i].id %>"><%= zapass[i].precio %>€</a></td>     
                            </tr>
                        <% } %>
                    <% } %>
                </thead>
            </table>
        </div>
    </div>
</body>


<script>

    //FUNCION PARA MOSTRAR UNA SECUENCIA DE FOTOS EMULANDO UN GIF
    let fotos = [
        "https://ciconceptstore.com/cdn/shop/products/2.png?v=1676113066&width=1000",
        "https://cdn.shopify.com/s/files/1/2358/2817/products/air-force-1-low-orange-skeleton-halloween-2020-954961.png?v=1638812427",
        "https://www.truetosole.hu/cdn/shop/products/True-to-Sole-Nike-Air-Force-1-Low-Experimental-Halloween-DC8904-001-02_1000x600.png?v=1634918101",
        "https://www.soleretriever.com/_next/image?url=https%3A%2F%2Fwnqjelklwcclokznfoyh.supabase.co%2Fstorage%2Fv1%2Fobject%2Fpublic%2Fproducts%2FDV7164_001_A_PREM-1697486276958.png&w=1200&q=75",
        "https://aplug.pl/cdn/shop/products/nike-air-force-1-mid-sp-off-white-varsity-maize3.png?v=1701243817&width=1445"
    ]

    var cont = 0

    function gif(){
        
        if ( cont < 4){
            document.getElementById("gif2").src=fotos[cont]
        }
        else{
            document.getElementById("gif2").src=fotos[cont]
            cont = cont - 5
        }
        cont++
    }

    function tiempo(){
        setInterval(gif, 2000)
    }
    window.onload = tiempo
    


    function ir(){
        window.location = "/vistazapas/:id"
    }

</script>