<body class="cuerpo">
    <div class="body1">
        <div class="gif1">
            <img id="gif2" src="https://restocks.net/_next/image/?url=https%3A%2F%2Fcdn.restocks.net%2Fcdn-cgi%2Fimage%2Fwidth%3D1000%2Fstorage%2Fimages%2Fproducts%2FAQ4211-101%2F1.png&w=3840&q=75">
        </div>
        <div class="popu">
            <div class="titulo">
                <h1>Marcas Populares</h1>
                <i class="fa-solid fa-angle-right"></i>
            </div>
            <div class="marcapopu">
                <img src="https://i.pinimg.com/736x/00/5b/fd/005bfd8f692fd971c3bf0097931f2e85.jpg">
                <img src="https://i.ebayimg.com/images/g/5OgAAOSwkgVhNBhJ/s-l1200.webp">
                <img src="https://media.designrush.com/inspiration_images/136124/conversions/_1519762849_545_990__1513771354_519_louis-v1_b31600c58738-mobile.jpg">
                <img src="https://0aa034e5fd.clvaw-cdnwnd.com/03d4ac49f28cc8972d61ceff71aa712a/200002323-9e1fc9e1ff/jordan.jpg?ph=0aa034e5fd">
            </div>
        </div>

        <div class="modelos">
            <div class="titulo">
                <h1>Modelos más populares</h1>
                <i class="fa-solid fa-angle-right"></i>
            </div>
            
            <table class="modelos">
                <thead class="modelopopu">
                    <% if (zapass) { %>
                        <% for (var i = 0; i < zapass.length; i++){ %>
                            <tr class="producto1"> 
                                <td><a href="/vistazapas/<%= zapass[i].id %>"><img src=<%= zapass[i].foto %> width="210px"></a></td>
                                <td class="marca"><a href="/vistazapas/<%= zapass[i].id %>"><%= zapass[i].marca %></a></td>
                                <td class="modelo"><a href="/vistazapas/<%= zapass[i].id %>"><%= zapass[i].modelo %></a></td>
                                <td class="precio"><a href="/vistazapas/<%= zapass[i].id %>"><%= zapass[i].precio %>€</a></td>     
                            </tr>
                        <% } %>
                    <% } %>
                </thead>
            </table>
        </div>
        <div class="modelos">
            <div class="titulo">
                <h1>Modelos en oferta</h1>
                <div class="vermas">
                    <h1>Ver más</h1>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <div class="modelopopu">
                <div class="producto1">
                    <div><img src="https://nextshoess.co.nz/wp-content/uploads/2023/04/converse-chuck-taylor-all-star-70s-ox-comme-des-garcons-play-multi-heart-green-graal-spotter-2_720x_43a8e12d-7296-4532-a524-2ea16dbe444b.png" width="210px"></div>
                    <h3>Converse</h3>
                    <h2>Converse Chuck Taylor All Star 70 Ox x Comme des Garcons</h2>
                    <p>365€</p>
                </div>

                <div class="producto1">
                    <div><img src="https://hypedfam.com/cdn/shop/products/Nike-Dunk-Low-Black-White-GS-1_1.png?v=1674080476&width=1445" width="210px"></div>
                    <h3>Nike</h3>
                    <h2>Nike Dunk Low Retro Panda</h2>
                    <p>365€</p>
                </div>

                <div class="producto1">
                    <div><img src="https://cdn.shopify.com/s/files/1/2358/2817/files/air-jordan-11-retro-neapolitan3.png?v=1699525851" width="210px"></div>
                    <h3>Jordan</h3>
                    <h2>Jordan 11 Retro Neapolitan</h2>
                    <p>365€</p>
                </div>

                <div class="producto1">
                    <div><img src="https://restocks.net/_next/image/?url=https%3A%2F%2Fcdn.restocks.net%2Fcdn-cgi%2Fimage%2Fwidth%3D1000%2Fstorage%2Fimages%2Fproducts%2F130690-161%2F2.png&w=3840&q=75" width="210px"></div>
                    <h3>Jordan</h3>
                    <h2>Jordan 12 Retro Cherry</h2>
                    <p>365€</p>
                </div>

                <div class="producto1">
                    <div><img src="https://sneakers-heat.com/cdn/shop/products/nike-air-jordan-6-electric-green-ct8529-003-sneakers-heat-2_800x.png?v=1623658825" width="210px"></div>
                    <h3>Jordan</h3>
                    <h2>Jordan 6 Retro Electric Green</h2>
                    <p>365€</p>
                </div>
            </div>
        </div>
    </div>
</body>


<script>
    let fotos = [
        "https://restocks.net/_next/image/?url=https%3A%2F%2Fcdn.restocks.net%2Fcdn-cgi%2Fimage%2Fwidth%3D1000%2Fstorage%2Fimages%2Fproducts%2FAQ4211-101%2F1.png&w=3840&q=75",
        "https://restocks.net/_next/image/?url=https%3A%2F%2Fcdn.restocks.net%2Fcdn-cgi%2Fimage%2Fwidth%3D1000%2Fstorage%2Fimages%2Fproducts%2FAQ4211-101%2F4.png&w=3840&q=75",
        "https://restocks.net/_next/image/?url=https%3A%2F%2Fcdn.restocks.net%2Fcdn-cgi%2Fimage%2Fwidth%3D1000%2Fstorage%2Fimages%2Fproducts%2FAQ4211-101%2F3.png&w=3840&q=75",
        "https://snkrs-mexico.com.mx/cdn/shop/files/air-force-1-travis-scott-sail-590.png?v=1689178579&width=852"
    ]

    var cont = 0

    function gif(){
        
        if ( cont < 3){
            document.getElementById("gif2").src=fotos[cont]
        }
        else{
            document.getElementById("gif2").src=fotos[cont]
            cont = cont - 4
        }
        cont++
    }

    function tiempo(){
        setInterval(gif, 2500)
    }
    window.onload = tiempo


    function ir(){
        window.location = "/vistazapas/:id"
    }

</script>