<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/vermasmarcas.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Pacifico&family=Rambla&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Nova+Square&family=Pacifico&family=Rambla&display=swap" rel="stylesheet">
    <title>Flaffy Flair</title>
    <link rel="website icon" href="/sources/logofinal2.png">
</head>
<body>
    <%- include('./header.ejs') %>
    
    <div class="body1">
        <table>
            <thead class="portada">
                    <% if (marcaprincii) { %>
                        <% for (var i = 0; i < 1; i++){ %>
                            <tr class="fotosmarca"> 
                                <td><img src=<%= marcaprincii[i].foto2 %> width="500px" height="400px"><td>  
                                <td><img src=<%= marcaprincii[i].foto3 %> width="500px" height="400px"></td> 
                                <td class="foto5"><img src=<%= marcaprincii[i].foto5 %> width="300px" height="400px"></td> 
                                <td class="foto6"><img src=<%= marcaprincii[i].foto6 %> width="300px" height="400px"></td>
                            </tr>
                        <% } %>
                    <% } %>
            </thead>
        </table>
        <div class="modelos">
            <div class="titulo">
                <h1>Modelos más populares</h1>
            </div>
            
            <table>
                <thead class="modelopopu">
                    <% if (zapass) { %>
                        <% for (var i = 0; i < zapass.length; i++){ %>
                            <tr class="producto1"> 
                                <td class="fotos">
                                    <a class="foto1" href="/vistazapas/<%= zapass[i].id %>"><img src=<%= zapass[i].foto %> width="210px"></a>
                                    <a class="foto2" href="/vistazapas/<%= zapass[i].id %>"><img src=<%= zapass[i].foto2 %> width="210px"></a>
                                </td>
                                <td class="marca"><a href="/vistazapas/<%= zapass[i].id %>"><%= zapass[i].marca %></a></td>
                                <td class="modelo"><a href="/vistazapas/<%= zapass[i].id %>"><%= zapass[i].modelo %></a></td>
                                <td class="precio"><a href="/vistazapas/<%= zapass[i].id %>"><%= zapass[i].precio %>€</a></td>     
                            </tr>
                        <% } %>
                    <% } %>
                </thead>
            </table>
        </div>
    </div>
    
    <%- include('./footer.ejs') %>
</body>
</html>