<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rambla&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Pacifico&family=Rambla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/vistazapas.css">
    <title>Document</title>
</head>
<body>
    <%- include('./header.ejs') %>

    <div class="vistasneakers">
        <div class="gif4">
            <img id="gif2" src="https://cdn.shopify.com/s/files/1/2358/2817/products/nike-air-force-1-high-07-sp-billie-eilish-wethenew-1_2.png?v=1649751847">
        </div>

        <table class="compra">
            <thead class="informacion">
                <% if (zapasss) { %>
                    <% for (var i = 0; i < zapasss.length; i++){ %>
                        <tr class="info2">
                            <td class="fotomodelo"><img src=<%= zapasss[i].foto %>></td>                      
                            <tr class="info">
                                <td class="modelo"><%= zapasss[i].modelo %></td>
                                <td class="marca"><%= zapasss[i].marca %></td>
                                <td class="texto"><%= zapasss[i].descripcion %></td>
                                <td><div class="selectalla">
                                    <button>Tallas</button>
                                    <i class="fa-solid fa-angle-up"></i>
                                    <div class="opciontalla">
                                        <p>38</p>
                                        <p>39</p>
                                        <p>40</p>
                                        <p>41</p>
                                        <p>42</p>
                                        <p>43</p>
                                        <p>43</p>
                                        <p>44</p>
                                        <p>45</p>
                                    </div>
                                </div>
                                <button id="botoncomprar">Comprar</button></td>   
                            </tr>
                        </tr>
                    <% } %>
                <% } %>
            </thead>
        </table>
    </div>

    


    <%- include('./footer.ejs') %>
</body>
</html>


<script>
    let fotos = [
        "https://cdn.shopify.com/s/files/1/2358/2817/products/nike-air-force-1-high-07-sp-billie-eilish-wethenew-1_2.png?v=1649751847",
        "https://cdn.shopify.com/s/files/1/2358/2817/products/nike-air-force-1-high-07-sp-billie-eilish-wethenew-1_1.png?v=1649751847",
        "https://www.truetosole.hu/cdn/shop/products/TruetoSole-NikeAirForce1High_07SPBillieEilishMushroom-DM7926-200-04_800x.png?v=1652358737",
        "https://cdn.shopify.com/s/files/1/2358/2817/products/nike-air-force-1-high-07-sp-billie-eilish-wethenew-1_3.png?v=1649751847"
    ]

    var cont = 0

    function gif(){
        
        if ( cont < 3){
            document.getElementById("gif2").src=fotos[cont]
        }
        else{
            document.getElementById("gif2").src=fotos[cont]
            cont = cont - 4
        }
        cont++
    }

    function tiempo(){
        setInterval(gif, 2500)
    }
    window.onload = tiempo
    
</script>