<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rambla&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Pacifico&family=Rambla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/vistazapas.css">
    <title>Flaffy Flair</title>
    <link rel="website icon" href="/sources/logofinal2.png">
</head>
<body>
    <%- include('./header.ejs') %>

    <div class="vistasneakers">
        <table class="gif4">
            <% if (zapasss) { %>
                <% for (var i = 0; i < zapasss.length; i++){ %>
                    <tr class="info2">
                        <td class="fotomodelo"><img id="gif2" src=<%= zapasss[i].foto %>></td>                      
                    </tr>
                <% } %>
            <% } %>
        </table>

        <table class="compra">
            <thead class="informacion">
                <% if (zapasss) { %>
                    <% for (var i = 0; i < zapasss.length; i++){ %>
                        <tr class="info2">
                            <td class="fotomodelo"><img src=<%= zapasss[i].foto2 %>></td>                      
                            <tr class="info">
                                <td class="modelo"><%= zapasss[i].modelo %></td>
                                <td class="marca"><%= zapasss[i].marca %></td>
                                <td class="texto"><%= zapasss[i].descripcion %></td>
                                <td>
                                <div class="popup3">
                                    <% if (login) { %>
                                        <a class="btn" type="submit" id="botoncomprar" href="#popup4">Comprar</a>
                                    <% } else { %>
                                    <% } %>
                                    <div id="popup4" class="cajon-popup">
                                        <div class="popup6">
                                            <h1>Detalles de la compra</h1>
                                            <div class="recibo">
                                                <p id="_producto" ><%= zapasss[i].modelo %></p>
                                                <h1 id="_descripcion" ><%= zapasss[i].descripcion %></h1>
                                                <h2 id="_precio" ><%= zapasss[i].precio %></h2>
                                                
                                                <form>
                                                    <input type="text" id="_talla" placeholder="Introduzca su talla">
                                                    <button onclick="capturar()">Buscar</button>
                                                </form>
                                                <h3 id="_titu"></h3>
                                                <h3 id="_talla2"></h3>
                                                <a class="btn" id="checkout" value="save"><button id="compra" disabled>Pagar</button></a>
                                            </div>
                                            
                                            <a href="#" class="cerrar">&times;</a>
                                        </div>
                                    </div>
                                </div>
                                </td> 
                            </tr>
                        </tr>
                    <% } %>
                <% } %>
            </thead>
        </table>
    </div>

    


    <%- include('./footer.ejs') %>
</body>

<script>
    //...........FUNCIÓN PARA SELECCIONAR LA TALLA Y MOSTRAR EL BOTON SI ESTA DISPONIBLE O NO
    function capturar(){
        var h3 =parseInt
        h3 =document.getElementById('_talla').value
        console.log(h3)
        
        if (h3 > 34 & h3 < 46){
            document.getElementById('_talla2').innerHTML = h3
            document.getElementById('_titu').innerHTML = 'Su talla es: '
            const boo = document.getElementById('compra')
            boo.disabled = false
        }else if(h3 < 35 & h3 > 32 || h3 >45 & h3 < 50){
            document.getElementById('_talla2').innerHTML = 'La talla introducida no esta disponible'
            document.getElementById('_titu').innerHTML = ''
            const boo = document.getElementById('compra')
            boo.disabled = true
        }else{
            document.getElementById('_talla2').innerHTML = 'La talla introducida no existe'
            document.getElementById('_titu').innerHTML = ''
            const boo = document.getElementById('compra')
            boo.disabled = true
        }
    }


    //........ESTOS DATOS SE ALMACENAN Y SE LLEVAN A LA RUTA DE PAGO MEDIANTE LA FUNCIÓN DE ABAJO, QUE LOS RECOGE CON UN CLICK
    const button = document.getElementById('checkout')
    const p =document.getElementById('_producto')
    const h1 =document.getElementById('_descripcion')
    const h2 =document.getElementById('_precio')
    const h5 =document.getElementById('_talla2')
    button.addEventListener('click', async () => {
        const res = await fetch('/checkout-session?modelo='+p.textContent+'&descripcion='+h1.textContent+'&precio='+h2.textContent+'&talla='+h5.textContent,{
            method: 'POST'
        })
        const data = await res.json()
        window.location.href = data.url
        
    })
</script>
</html>