<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rambla&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Pacifico&family=Rambla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/vistazapas.css">
    <title>Document</title>
</head>
<body>
    <%- include('./header.ejs') %>

    <div class="vistasneakers">
        <table class="gif4">
            <% if (zapasss) { %>
                <% for (var i = 0; i < zapasss.length; i++){ %>
                    <tr class="info2">
                        <td class="fotomodelo"><img id="gif2" src=<%= zapasss[i].foto %>></td>                      
                    </tr>
                <% } %>
            <% } %>
        </table>

        <table class="compra">
            <thead class="informacion">
                <% if (zapasss) { %>
                    <% for (var i = 0; i < zapasss.length; i++){ %>
                        <tr class="info2">
                            <td class="fotomodelo"><img src=<%= zapasss[i].foto2 %>></td>                      
                            <tr class="info">
                                <td class="modelo"><%= zapasss[i].modelo %></td>
                                <td class="marca"><%= zapasss[i].marca %></td>
                                <td class="texto"><%= zapasss[i].descripcion %></td>
                                <td><div class="selectalla">
                                    <button>Tallas</button>
                                    <i class="fa-solid fa-angle-up"></i>
                                    <div class="opciontalla">
                                        <p>38</p>
                                        <p>39</p>
                                        <p>40</p>
                                        <p>41</p>
                                        <p>42</p>
                                        <p>43</p>
                                        <p>43</p>
                                        <p>44</p>
                                        <p>45</p>
                                    </div>
                                </div>
                                <div class="popup3">
                                    <a class="btn" id="botoncomprar" href="#popup4"><button>Comprar</button></a>
                                    <div id="popup4" class="cajon-popup">
                                        <div class="popup6">
                                            <h1>hola</h1>
                                            <button id="checkout">Pagar</button>
                                            <a href="#" class="cerrar">&times;</a>
                                        </div>
                                    </div>
                                </div>
                                </td> 
                            </tr>
                        </tr>
                    <% } %>
                <% } %>
            </thead>
        </table>
    </div>

    


    <%- include('./footer.ejs') %>
</body>

<script>
    const button = document.getElementById('checkout')
    button.addEventListener('click', async () => {
        const res = await fetch('/checkout-session', {
            method: 'POST'
        })
        const data = await res.json()
        console.log(data)
        window.location.href = data.url
        
    })
</script>
</html>